body{
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.form{
  position: relative;
  max-width: 360px;
  background-color: white;
  margin: auto;
  background-color: rgb(128, 119, 119);
  padding: 10px;
}
.form input{
  margin: 0 0 15px;
  padding: 15px;
  outline: 1;
  width: 100%;
  font-size: 14px;
}
